services:
  api:
    build: .
    restart: always
    depends_on:
      - db

  db:
    image: mysql
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: watermelon_db
      MYSQL_USER: watermelon
      MYSQL_PASSWORD: watermelon
    volumes:
      - ./sql:/docker-entrypoint-initdb.d

